.navbar {
  display: flex;
  justify-content: center;
  background-color: #fff6f6;
  width: 100%;
  height: 4rem;
  z-index: 1;
}

.navbar-top {
  position: fixed;
  top: 0;
}

.navtitle {
  font-weight: 750;
  text-transform: uppercase;
  transform: scaleY(1.4);
}

.nav-contents {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}
