:root {
  --side-margins: 4rem;
}

.navbar {
  align-items: center;
  background-color: #FFF6F6;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}

.navbar-top {
  position: fixed;
  top: 0;
}

.navtitle {
  margin-left: var(--side-margins);
}

.navmenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: var(--side-margins);
  list-style-type: none;
}
