.navbar {
  width: 100%;
  height: 2rem;
  z-index: 1;
}

.navbar-top {
  justify-content: space-between; /* Distribute items to each end horizontally */
  /* align-items: flex-start; */
}

.navtitle {
  background-image: url("../../../public/img/journeyairplanetext.svg");
  background-size: contain; /* Use 'contain' to fit the SVG within the element */
  background-repeat: no-repeat;
  background-position: left center; /* Align the SVG to the left */
  width: auto; /* Allow the width to adjust based on the SVG's aspect ratio */
  /* margin-right: 16px; */
}

.nav-contents {
  display: flex;
  align-items: center;
}