.AuthButton {
  font-size: 1.1rem;
  font-weight: bold;
  background-color: var(--accent-color);
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  color: white;
  margin: auto 16px;

  transition-duration: 250ms;
  cursor: pointer;
}

.AuthButton:hover {
  background-color: var(--dark-accent-color);
  transform: scale(1.15);
}
