.AuthButton {
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #ae3d64;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  color: white;
  margin-left: auto; /* Push buttons to the right */
  transition-duration: 250ms;
  cursor: pointer;
}

.AuthButton:hover {
  background-color: #622338;
  cursor: pointer;
  transform: scale(1.15);
}
