:root {
  --col-shadow: #00000045;
}

.navbutton {
  font-size: 1.1rem;
  font-weight: bold;
  background: linear-gradient(
    105deg,
    rgba(255, 154, 89, 1) 0%,
    rgba(255, 111, 96, 1) 100%
  );
  border: none;
  box-shadow: none;
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 16px;
  margin: auto 0;

  transition-duration: 250ms;
}

.navbutton:hover {
  background-color: rgb(255, 111, 96);
  box-shadow: 3px 3px 3px 1px var(--col-shadow);
  cursor: pointer;
}

.navbutton:active {
  box-shadow: none;
}
